[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
python-dotenv = "*"
python-multipart = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langgraph = "*"
langgraph-supervisor = "*"
fastapi = "*"
uvicorn = "*"
gradio-tools = "*"
duckduckgo-search = "*"
pandas = "*"
pypdf = "*"
beautifulsoup4 = "*"
faiss-cpu = "*"
supabase = "*"

[dev-packages]

[requires]
python_version = "3.11"
